/* 0. Definiciones generales */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    padding: 0;
}


/* 1. Definición de Layout (Grid) */
navbar {
    grid-area: navbar;
    background-color: #E1C340;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    color: #0d0d0d;
    font-size:3em;
    height: 2em;
}

asidebar {
    grid-area: asidebar;
    background-color:#A4E8E0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Shadows Into Light', cursive;
    padding-left: 1em;
}

section {
    grid-area: section;
    background-color:rgb(255, 255, 255);
}

footer {
    grid-area: footer;
    background-color: #E1C340;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    color: #0d0d0d;
    font-size:x-large;
    height: 60px;
}

.grid-layout {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "asidebar section"
        "footer footer";
    grid-template-columns: 1fr 6fr;  
    gap: 0px;
}

/* 2. Contenido de Aside */
.cat-title {
    margin: 0px;
}

.cat-elem {
    color:rgb(18, 17, 17);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
    padding: 0.5em 0 0.5em 0;
}

.cat-num {
    color: rgb(120, 120, 120);
}

/* 3. Contenido Grilla */
.grid-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.product img {
    max-width: 100%;
    height: 300px;
    width: 280px;
    padding: 0.5em 0.5em;
}

.product h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 1em 0.5em;
}

.product p {
    font-size: 1rem;
    margin: 0;
    padding: 1em 0.5em;
}

.buy-button {
    background-color: #513B41;
    color: #fff;
    padding: 0.8em 0;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

.buy-button:hover {
    background-color: #F6C324;
}
